body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(54,59,65,1) 100%);
        
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.name-app{
    text-align: center;
    margin-top: 20px;
}
h1{
    color: cornsilk;
    font-size: 1.5em;
}

.main{
    
}
.main-wrapper{
    position: relative;
    background-color: rgba(246, 246, 246, 0.719);
    border-radius: 10px;
    margin-top: 2vh;
    box-shadow: 2px 2px 5px black;
    
}
.electricidad{
    
}

.electricidad-interior{
    padding: 20px;
}

.forma{
    padding: 10px;
}

.title{
    padding: 10px;
}
.card-body{

}
.col-l-6{
    text-align: right;
}
.inputs-wrapper{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
label{
}
.thebutton{
    text-align: right;
}
input{
    background-color: transparent;
    border:none;
    border-bottom: black 2px solid;
    text-align: right;
    margin: 5px;
    width: 80px;
    padding: 0;
}

button{
    margin: 5px;
}
.consumoInfo{
    background-color: transparent;
    padding: 10px;
    text-align: right;
    
}

footer{
position: fixed;
bottom: 0;
width: 100%;
color: cornsilk;
text-align: center;
}
.lista-tabla{
    list-style: none;
    display: inline;
    margin: auto;
}

@media(min-width:1024px){
    .name-app{
        margin-top: 200px;
    }
    
    .main-wrapper{
        margin-top: 7vh;
        
    }
    .inputs-wrapper{
        display: flex;
        justify-content: space-evenly;
    }
    .consumoInfo{
        justify-content: space-evenly;
        
    }
    .h1{
        color: cornsilk;
        font-size: 4em;
    }
}